/* Fix part */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: customfont;
    src: url(/assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(/assets/img/Netflix-Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}
nav{
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #a5a5a5;
    position: fixed;
    z-index: 200;
}

nav .logo{
    padding: 12px 20px;
    height: 80px;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-family: customfont;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 90px;
    color: #fff;
    padding: 22px 20px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: customfont;
}

/*  */

main{
    width: 100%;
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailPage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-part{
    border-radius: 10px;
}

.features{
    width: 300px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.middle-part{
    padding: 10px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards{
    background: white;
    border-radius: 10px;
    padding: 10px;
    background: #1d1d1d;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    
}


.right-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #101010;
    padding: 10px;
    font-size: smaller;
    
}

.imdbBtn {
    width: 210px;
    border: none;
    border-radius: 7px;
    padding: 5px;
    color: black;
    font-weight: bold;
    background-color: #DBA506;

}
.visitBtn {
    width: 615px;
    border: none;
    border-radius: 7px;
    padding: 5px;
    color: black;
    font-weight: bold;
}

.imdbBtn:hover {
    background-color: #f2db83;
}

.visitBtn:hover{
    background-color: #d1d1d1;
}

.footer {
    margin-top: 35px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #1d1d1d;
    color:rgb(255, 255, 255);
    text-align: center;
    font-weight: lighter;
    font-size: small;
} 